 // font-family: "Tangerine", cursive;
 // font-family: "Poppins", sans-serif;
 // font-family: "Inter", sans-serif;
 @import "Component/variable";
 @import "Component/navbar";
 @import "Component/hero_section";
 @import "Component/services";
 @import "Component/portfolio";
 @import "Component/experiences";
 @import "Component/touch";
 @import "Component/faq";
 @import "Component/latest";
 @import "Component/footer";



    *{
        margin: 0;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
        // font-family: "Poppins", sans-serif;
    }
    

    h1 {
        font-size: 80px;
        font-weight: 700;
    }
    h2 {
        font-size: 55px;
        font-weight: 700;
    }
    h3{
        font-size: 40px;
        font-weight: 600;
    }
    h4{
        font-size: 30px;
        font-weight: 600;
    }
    h5{
        font-size: 24px;
        font-weight: 700;
    }
    h6{
        font-size: 20px;
        font-weight: 600;
    }
