$MarketingTextColor: #112200;
$MarketingThemeColor: #E85442;
$backgorundColor: #FFC9C2;
$MarketingParagraphColor: #858691;
$MarketingParagraphColorOpacity: #85869120;
$TextColor: #3C2C40;
$whiteColor: #ffffff;
$whiteColorShadow: #e7e7e7;
