 // font-family: "Tangerine", cursive;
 // font-family: "Poppins", sans-serif;
 // font-family: "Inter", sans-serif;

 $MarketingTextColor: #112200;
 $MarketingThemeColor: #E85442;
 $TextColor: #3C2C40;
